on:
  push:
    branches:
      - main

permissions:

jobs:
    runs-on: ubuntu-latest
    steps:
        uses: actions/checkout@v4

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          extended: true

        run: hugo --minify

      - name: Deploy to GitHub Pages
